{% extends 'base.html' %}
{% block content %}

 <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>DETAILS</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{{ product.image.url }}" alt=""  style="height: 300px;"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">{{product.name}}</h2>
                    <h4>Price : Rs. {{product.price}}</h4>
                    <h4>{% if product.stock > 0 %}Currently available : {{product.stock}} {% endif %}</h4>
                    <h3 class="mt-2"><b>SHORT DESCRIPTION</b> </h3>
                    <p>{{product.description}}</p>

                    {% if user.is_superuser == True %}
                    <a class="btn hvr-hover" href="{% url 'shop:updatestock' product.id %}">Add Stock</a>

                    {% else %}
                        {% if product.stock > 0 %}
                        <a class="btn hvr-hover" href="{% url 'cart:addtocart' product.id  %}">Add to Cart</a>

                        {% else %}
                        <h4>Out of Stock</h4>
                            {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock%}